.theme-change:hover{
    animation: wigglePulse 1s infinite;
}

@keyframes wigglePulse{
    0%{
        transform: rotate(0deg) scale(1);
    }
    25%{
        transform: rotate(10deg) scale(1.1);
    }
    50%{
        transform: rotate(0deg) scale(1);
    }
    75%{
        transform: rotate(-10deg) scale(1.1);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}

.btn{
    border: none;
    color: (var(--text-color));
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    max-height: min-content;
    height: min-content;
    align-self: center;
    width: fit-content;
}

.btn:hover{
    transform: scale(1.02);
}

.btn-primary{
    background-color: rgb(var(--primary-color));
    color: white;
}

.btn-primary:hover{
    box-shadow: 0px 0px 10px 0px rgba(var(--primary-color), 0.5);
}

.btn-secondary{
    background-color: rgb(var(--secondary-color));
}

.btn-secondary:hover{
    box-shadow: var(--dropshadow);
}

.link{
    text-decoration: none;
    color: rgb(var(--text-color));
}

.link:hover{
    text-decoration: none;
    color: rgba(var(--text-color), 0.5);
}

.input{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--text-color));
}

.input:focus{
    outline: none;
    box-shadow: inset var(--dropshadow);
}

.input-textarea{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--text-color));
    resize: vertical;
    height: 100px;
    max-height: 200px;
    min-height: 100px;
    overflow-y: auto;
}

.max-input-width{
    width: 100%;
}

.input-stack{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropdown{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--text-color));
    cursor: pointer;
}